<h1>Products Details</h1>

<p>Product Name: <%= @product.id %></p>
<p>Product Name: <%= @product.name %></p>
<p>Product Description: <%= @product.description %></p>
<p>Proudct Price: <%= @product.price %></p>

<%= link_to "Product Home", products_path %>
